doctype
html
  head
    meta(charset="utf-8")
    title Hangman
    link(rel="stylesheet" href="main.css")
    script(src="build/libs/underscore.js")
    script(src="build/libs/react.js")
    script(src="build/libs/react-dom.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js")
    script(data-main="build/main" src="build/libs/require.js")
    script(src="app.js" type="text/babel")
    
  body
    != yield
