body {
  background: white;
  font-family: 'Helvetica', sans-serif; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

#start-screen {
  text-align: center; }
  #start-screen #start-word {
    text-align: center; }
    #start-screen #start-word input {
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      font-size: 50px;
      width: 100%;
      text-align: center;
      padding: 50px 0px; }
    #start-screen #start-word #max-letter {
      color: red;
      padding: 10px; }
  #start-screen #start-btn {
    display: block;
    width: 60%;
    height: 60px;
    border: none;
    font-size: 24px;
    background-color: #60C760;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
    #start-screen #start-btn:hover, #start-screen #start-btn:focus {
      background-color: #4CAF50; }

#game-screen {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%; }
  #game-screen #alphabet {
    order: 0;
    flex: 1 1 100%;
    text-align: center;
    line-height: 100px;
    height: 100px;
    color: #A9ABA5; }
    #game-screen #alphabet .incorrect-guess {
      color: #BD4F4F; }
    #game-screen #alphabet .correct-guess {
      color: black; }
  #game-screen #hangman {
    order: 1;
    flex: 1 400px;
    max-width: 400px; }
  #game-screen .middle-row {
    height: 300px;
    text-align: center; }
    #game-screen .middle-row .big-text {
      font-size: 160px;
      width: calc(100% - 80px);
      padding: 50px;
      margin: auto;
      vertical-align: middle;
      height: 160px;
      line-height: 160px;
      font-family: arial; }
    #game-screen .middle-row .text {
      color: #888; }
  #game-screen #guessbox {
    order: 2;
    flex: 1 400px;
    max-width: 400px; }
    #game-screen #guessbox input {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      border: medium none; }
  #game-screen #hidden-word {
    order: 3;
    flex: 1 1 100%;
    height: 100px;
    font-size: 36px;
    text-align: center;
    word-wrap: break-word;
    width: 100%; }
    #game-screen #hidden-word .letters {
      padding-right: 2px; }

#results-screen {
  text-align: center;
  padding-top: 20%;
  line-height: 2; }
  #results-screen .result {
    font-size: 24px; }
  #results-screen a {
    color: black;
    text-decoration: none; }
